body {
  background-color: #f9fafb !important;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: left;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(33, 133, 208) 0%,
    rgb(33, 133, 208) 69%,
    rgb(33, 133, 208) 89%
  ) !important;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.footer {
  margin-top: auto;
  padding: "5em 0em";
}

Grid {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 17em;
  font-weight: normal;
}

/* .footer.segment {
  padding: 5em 0;
} */

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  margin-right: 1em;
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
  margin-bottom: 7em;
  min-height: 100vh;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: rgb(255, 255, 255);
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.3em;
}

.ui.menu .item > img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item > .button {
  margin-left: 0.5em;
}

/* project list item style */
.ui.list > .item > .image img {
  height: 35px;
  width: 35px;
}
.ui.items > .item > .image > img {
  height: 80px !important;
  width: 80px !important;
}
